<div class="task-header-container">
  <div class="back-btn-container">
    <mat-icon aria-hidden="false" class="back-btn-icon" aria-label="arrow back">arrow_back</mat-icon>
    <span class="back-btn-label">All projects</span>
  </div>
  <div class="title-container">
      <h2>Supermassive Black Hole</h2>
      <i class='fa fa-angle-down down-icon' aria-hidden="true"></i>
  </div>
  <div class="right-aligned-elements">
    <i class='fa fa-search' aria-hidden="true"></i>
    <i class='fa fa-bell-o' aria-hidden="true"></i>
    <i class='fa fa-user' aria-hidden="true"></i>
  </div>
</div>
